<div class="container">
  <div class="card text-center" style="width: 18rem;">
    <img src="/assets/pizza.jpg" class="card-img-top" alt="...">
    <div class="card-title display">
      <h3><%= @restaurant.name %></h3>
      <h5 class="card-text"><%= @restaurant.category %></h5>
      <p><%= @restaurant.address %></p>
    </div>
     <%= link_to 'Add Review', new_restaurant_review_path(@restaurant), class: "btn btn-outline-success btn-block" %>
  </div>
    <%= link_to 'Back to List', restaurants_path, class: "btn btn-outline-dark padding-top" %>
</div>
